<section class="prodcut">
  <h1 class="center"> Products </h1>


  <div class="product__iner">
    <div class="product__cards" *ngFor="let products of products">
      <div class="product__card">
        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
          <img src="{{products.thumbnail}}" class="img-fluid" />
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{products.title}}</h5>
          <p class="card-text">{{products.description}}</p>
          <a href="#!" class="btn btn-primary">Button</a>
        </div>
      </div>
    </div>
  </div>



</section>
